<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="profile.css" />
    <script src="https://kit.fontawesome.com/f050a0a389.js" crossorigin="anonymous"></script>
    <title>Profile</title>
  </head>
  <body>
      <section class="section">

          <div class="heroContainer">
              <div class="cont">

                  <img src="https://source.unsplash.com/WLxQvbMyfas" class="heroImg" />
                <span class="rupeeSpan">
                    <h4 class="rupee">Rs 12000</h4>
                    <!-- <h4>3</h4><i class="fa-solid fa-bed"></i>  
                    <h4>2</h4><i class="fa-solid fa-bath"></i> -->
                </span>
                      
              </div>
            <div class="cont">
              <div class="cont2">
                <h4 class="name">Name:Rinkalba Zala</h4>
                <!-- <a
                  href="https://goo.gl/maps/1DGM5WrWnATgkSNB8"
                  class="url"
                  target="_blank"
                  >View On Google Maps</a
                > -->
              </div>
              
              <h4 class="name">Email:rinks@gmail.com</h4>
                <h4 class="name">Phone No:+91 9823489134</h4>
                <h4 class="name">Property Type:Flat</h4>
                <h4 class="name">Choice:Rent</h4>
                <span><h5 class="name">Area:<b>110 sq/ft.</b></h5></span>
            </div>
          </div>
      </section>

    <hr />
  </body>
</html>
